@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f4f4f4; /* Adjust the color as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}












body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  position: relative;
  height: calc(100vh - 60px); /* Adjusting for header height */
}

.background-image {
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-overlay {
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
   margin-top: -200px; /* Move container up */

}

.content-overlay h1 {
  font-size: 70px;
  margin: 0;
}

.content-overlay button {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.content-overlay p {
  font-size: 25px;
  margin: 0;
}

.search-section {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.search-bar {
  display: flex;
  gap: 30px;
  align-items: center;
}

.search-bar input[type="text"],
.search-bar select,
.search-bar input[type="range"],
.search-bar button {
  padding: 10px;
  font-size: 20px;
}

.search-bar input[type="range"] {
  width: 200px;
}

.search-bar button {
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 20px 40px;
  margin-right: 10%; /* Extend space to the right */

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

.filter-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.filter-group label {
  margin-bottom: 5px;
}

.filter-group input, .filter-group select {
  padding: 10px;
  font-size: 1em;
}

.image-container {
  text-align: left;
}

.main-img {
  max-width: 50%;
  height: 80px;
  border: 2px solid #000;
  border-radius: 10px;
}

.filter-system {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.filter-item {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"],
select,
.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

input[type="range"] {
  width: 100%;
}

#price-slider-value {
  display: block;
  margin-top: 5px;
  text-align: center;
}

.input button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
